<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxliu.calf.mapper.AccountExtMapper" >
  <select id="getRole" parameterType="com.jxliu.calf.pojo.Account" resultType="com.jxliu.calf.pojo.ext.AccountExt">
  		<!-- 因为数据库中字段是role_id这种形式的，而pojo中的属性字段都是roleId这样的，所以当使用
  		下面这种方式查询的时候，那些驼峰式的字段就会映射不上进而就会报一个Invalid bound statement (not found)
  		异常，解决方案:为每个字段起好别名 -->
		  <!-- SELECT
				b.*,
				a.role_id
			FROM
				account_role a
				INNER JOIN account b ON a.account_id = b.account_id
			<if test="accountName!=null">
					AND b.account_name = #{accountName}
			</if>  -->
			SELECT
				b.account_id as accountId,
				b.account_name as accountName,
				b.`password` as password,
				b.telephone as telephone,
				b.email as email,
				b.createtime as createtime,
				b.updatetime as updatetime,
				a.role_id as roleId
			FROM
				account_role a
				INNER JOIN account b ON a.account_id = b.account_id
			<if test="accountName!=null">
					AND b.account_name = #{accountName}
			</if> 
  </select>
</mapper>