<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxliu.calf.mapper.AuthorityExtMapper" >
  <select id="getAuthoriList" parameterType="com.jxliu.calf.pojo.Role" resultType="com.jxliu.calf.pojo.ext.AuthorityExt">
		  SELECT
					b.author_id as authorId,
					b.author_name as authorName,
					b.author_level as authorLevel,
					b.createtime as createtime,
					b.updatetime as updatetime
				FROM
					authori_role a
					INNER JOIN authority b ON a.author_id = b.author_id 
			<if test="roleId!=null">
					AND a.role_id = #{roleId}
			</if> 
  </select>
</mapper>